
@{
    ViewBag.Title = "TinhTong";
}

<h2>TinhTong</h2>

@using (Html.BeginForm())
 {
                <label>Số thứ nhất: </label>
                <input type="text" name="soA"/>
                <label>Số thứ hai: </label>
                <input type="text" name="soB"/>
                <input type="submit" value="Tính tổng"/>
 }